.modal{
    display: none;
}
.btnx{
    background-color: rgb(234, 14, 14);
    width: 20px;
    height: 20px;
    padding-bottom: 7px;
   
}
#conference-room-worker{
  flex-wrap: wrap;
}
.forminput{
    gap: 0.5rem;
}
.form{
    gap: 1rem;
    margin-bottom: 1rem;
}
#form-errors{
    color: red;
}
.position{
    position: absolute;
    top: 8%;
    color: rgb(82, 82, 82);
}
.room{
    position: relative;
}
.image{
    border-radius: 50%;
}
.rte{
    background-color: brown;
}
#assingmodal{
    display: none;
}