.modal{
    display: none;
}
.btnx{
    background-color: rgb(234, 14, 14);
    width: 20px;
    height: 20px;
    padding-bottom: 7px;
   
}
#conference-room-worker{
  flex-wrap: wrap;
}
.forminput{
    gap: 0.5rem;
}
.form{
    gap: 1rem;
    margin-bottom: 1rem;
}
#form-errors{
    color: red;
}
.position{
    position: absolute;
    top: 8%;
    color: rgb(82, 82, 82);
}
.room{
    position: relative;
}
.image{
    border-radius: 50%;
}
.rte{
    background-color: brown;
}
#assingmodal{
    display: none;
}
.worker{
    width: 30%;
    height: fit-content;
}
.worker img{
   width: 16%;
   height: 16%;
}
.worker div{
    width: 20%;
}
.worker div p{
    font-size: 30%;
}

.fontsans{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-right:0.5rem ;
}
.Experience{
    font-size: 120%;
    padding-left: 5px;
    
}
.colortext{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 119, 255);
}
section{
    background-size: 100% 100%;
   
}
.roombg{
    background-color:rgba(255, 0, 0, 0.3) ;
}
.bod_head{
 font-size: 50px;
    height: 20%;
    border-bottom: 2px solid gray;
    padding: 1rem;
     display: none;
}

.header-tit{
    color: blue;
    font-weight: bold;
}
.profil:hover{
   cursor: pointer;
}
#closeassing{
    height: 35px;
}
 .ditailimage{
    border-bottom: 1px solid gray;
 }
@media (width<= 1024px) {
    main{
  padding: 2rem;
}
section{
background-image: url('Capturewre.png');
 display: flex;
flex-direction: column;
justify-content: space-between;

}
section div{
    width: 100%;
}
.confrecroom{
    height: 38%;
    display: flex;
    align-items: center;
    flex-direction:row-reverse;
}
.room {
  height: 100%;
}
.conference{
    width: 50%;
}

.serv_scur_staf_vau{
    height: 45.5%;
    display: flex;
    justify-content: space-between;
    flex-direction:row-reverse;
}
.serv_scur_staf_vau div{
 height: 100%;
}

.serv_secu{
    width: 34%;
    display: flex;
    flex-direction: column;
}
.serv_secu div div{
    height: fit-content;
}
.staf_vul{
     width: 34%;
      display: flex;
    flex-direction: column;
}
.staf_vul div div {
  
    height: fit-content;
}
.room{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside{
    position: absolute;
    right: 0px;
    top: 0px;
     z-index: 100;
     height: 50%;
    display:none;
}
.app{
    position: relative;
}
.app{
  width: 100%;
}
.isnone{
    font-size: 50px;
    height: 20%;
    border-bottom: 2px solid gray;
    padding: 1rem;
    display: block;
}
}

.toogle{
    display: block;
}
#aside-staff-membres{
    min-width: 300px;
}

