.modal{
    display: none;
}
.btnx{
    background-color: rgb(234, 14, 14);
    width: 20px;
    height: 20px;
    padding-bottom: 7px;
   
}
#conference-room-worker{
  flex-wrap: wrap;
}
.forminput{
    gap: 0.5rem;
}
.form{
    gap: 1rem;
    margin-bottom: 1rem;
}