.modal{
    display: none;
}
.btnx{
    background-color: rgb(234, 14, 14);
    width: 20px;
    height: 20px;
    padding-bottom: 7px;
   
}
#conference-room-worker{
  flex-wrap: wrap;
}
.forminput{
    gap: 0.5rem;
}
.form{
    gap: 1rem;
    margin-bottom: 1rem;
}
#form-errors{
    color: red;
}
.position{
    position: absolute;
    top: 8%;
    color: rgb(82, 82, 82);
}
.room{
    position: relative;
}
.image{
    border-radius: 50%;
}
.rte{
    background-color: brown;
}
#assingmodal{
    display: none;
}
.worker{
    width: 30%;
    height: fit-content;
}
.worker img{
   width: 16%;
   height: 16%;
}
.worker div{
    width: 20%;
}
.worker div p{
    font-size: 30%;
}

.fontsans{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-right:0.5rem ;
}
.Experience{
    font-size: 120%;
    padding-left: 5px;
    
}
.colortext{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 119, 255);
}
section{
    background-size: 100% 100%;
}
.room{
    background-color:rgba(255, 0, 0, 0.5) ;
}